*.pyc
*.swp
*.swo
*.so
*.egg
*.egg-info
.tox
.idea/
.python-version
build
MANIFEST
dist
.coverage
nosetests.xml
cover/
docs/_build/
tests/integration/ccm
setuptools*.tar.gz
setuptools*.egg

# OSX
.DS_Store
cassandra/connection.c
cassandra/cqltypes.c
cassandra/marshal.c
cassandra/metadata.c
cassandra/policies.c
cassandra/pool.c
cassandra/protocol.c
cassandra/query.c
cassandra/util.c
cassandra/ext/llfastuuid.c

